<!DOCTYPE html>
<html>
<head>
    <title>SunRentals Signup</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons8-tropics-48.png') }}">
    <link href="{{ url_for('static', filename='css/password_reset.css') }}" rel="stylesheet"/>
</head>
<body>
    <div class="signup-container">
        <h1> SunRentals </h1>
        <img src="{{ url_for('static', filename='images/sun.png') }}" alt="Sun" class="sun">
        <div class="password_reset">
            <h3> Password reset </h3>
            <form>
                <label for="username">Enter email username:</label><br>
                <input type="text" id="username" placeholder="Enter email username"
                       name="username" required size="54"><br>
                <br>
                <input type="submit" value="Reset Password" id="btn3">
                <br>
            </form>
        </div>
        <br>
        <br>
        <div class="home_page">
            <button id="btn4"><a href="/" class="anchor"> Return to Home Page </a></button>
        </div>
    </div>
</body>
</html>