{% extends 'base.html' %}


{% block head %}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}

<div class="div_grid">
    <div class="rental_window">
        <div class="space">
            <div class="img">
                <img src="{{ url_for('static', filename='images/house.png') }}" alt="home" class="home">
            </div>
            <div class="amount">
                <p class="hs"><b>{{num_houses}}</b></p>
                <p class="hs2"> Houses </p>
            </div>
        </div>
        <br>
        <div class="text">
            <a class="lnk" href="/houses"><span>View Details</span></a>
        </div>
    </div>

    <div class="tenant_window">
        <div class="space">
            <div class="img">
                <img src="{{ url_for('static', filename='images/tenant.png') }}" alt="home" class="tenant">
            </div>
            <div class="amount">
                <p class="hs"><b>{{num_tenants}}</b></p>
                <p class="hs2"> Tenants </p>
            </div>
        </div>
        <br>
        <div class="text">
            <a class="lnk" href="/tenants"><span>View Details</span></a>
        </div>
    </div>

    <div class="payment_window">
        <div class="space">
            <div class="img">
                <img src="{{ url_for('static', filename='images/payment.jpeg') }}" alt="home" class="payment">
            </div>
            <div class="amount">
                <p class="hs"><b>{{num_payments}}</b></p>
                <p class="hs2"> Payments </p>
            </div>
        </div>
        <br>
        <div class="text">
            <a class="lnk" href="/payments"><span>View Details</span></a>
        </div>
    </div>
</div>

{% endblock %}