{% extends 'base.html' %}


{% block head %}
    <link href="{{ url_for('static', filename='css/payments.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block body %}
<h2>Payment Information</h2>
<div class="buttons">
    <div class="add">
        <a href="/add_payment_info"><button class="add_button">Add entry</button></a>
    </div>
    <div class="print">
        <button class="print_button" id="btn2">Print page</button>
    </div>
    <div class="filter">
        <button class="filter_button" id="f3">Filter results</button>
    </div>
    <div class="search">
        <input type="text" id="myInput" onkeyup="searchFunction()"
            placeholder="Search with paymentID">
    </div>
</div>
<br>
<div class="mainTable">
    <table id="PaymentsTable">

      <tr>
        <th>Payment ID</th>
        <th>Monthly payment</th>
        <th>Tenant ID</th>
        <th>Loan amount</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>

      <tbody>
        {% for row in value %}
            <tr class="c">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td><i class="fa fa-remove" style="font-size:24px;color:red"></i></td>
                <td><i class="fa fa-edit" style="font-size:24px;color:red"></i></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="editPaymentTable">
    <form>
        <label for="monpayment">Monthly payment:</label><br>
        <input type="Number" id="monpayment" name="monpayment"><br>
        <br>
        <label for="tenantid">TenantID:</label><br>
        <input type="text" id="tenantid" name="tenantid"><br>
        <br>
        <label for="amount">Loan amount:</label><br>
        <input type="text" id="amount" name="amount"><br>
        <br>
        <button onclick="editPayment()"> Update </button>
        <br>
    </form>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/delete_payments.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/update_payments.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_payments_searchbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filter_payments.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/print.js') }}"></script>
{% endblock %}
