{% extends 'base.html' %}


{% block head %}
    <link href="{{ url_for('static', filename='css/tenants.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block body %}
<h2>Tenant Information</h2>
<div class="buttons">
    <div class="add">
        <a href="/add_tenant_info"><button class="add_button">Add entry</button></a>
    </div>
    <div class="print">
        <button class="print_button" id="btn2">Print page</button>
    </div>
</div>
<br>
<div class="mainTable">
    <table id="Mytable">

      <tr>
        <th>Tenant ID</th>
        <th>Owner</th>
        <th>Phone Number</th>
        <th>Arrival Date</th>
        <th>Departure Date</th>
        <th>Property Address</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>

      <tbody>
        {% for row in value %}
            <tr id="a">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td><i class="fa fa-remove" style="font-size:24px;color:red"></i></td>
                <td><i class="fa fa-edit" style="font-size:24px;color:red"></i></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class = "editTable">
    <form>
        <label for="owner">Owner:</label><br>
        <input type="text" id="owner" name="owner"><br>
        <br>
        <label for="phonenumber">Phone number:</label><br>
        <input type="text" id="phonenumber" name="phonenumber"><br>
        <br>
        <label for="moveindate">Move in date:</label><br>
        <input type="date" id="moveindate" name="moveindate"><br>
        <br>
        <label for="moveoutdate">Move out date:</label><br>
        <input type="date" id="moveoutdate" name="moveoutdate"><br>
        <br>
        <label for="propaddress">Property address:</label><br>
        <input type="text" id="propaddress" name="propaddress"><br>
        <br>
        <button onclick="editRow()"> Update </button>
        <br>
    </form>
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/delete_tenants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/update_tenants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/print.js') }}"></script>

{% endblock %}
